
<ul id="navigation" style="display:inline;">
        <li><a href="/"">Home</a></li>
        <li><a href="/datetime"">Date and Time</a></li>
        <li><a href="/fib"">Fibonnaci sequence</a></li>
        <li><a href="/noaa"">Oceanic and Atmospheric Science</a></li>
        <li><a href="/wikipedia"">Wikipedia Analysis</a></li>
        <li><a href="/sefaria"">Sefaria Text Analysis</a></li>
</ul>
  <!--   {% set navigation = [('/hello', 'Say hello'), ('/goodbye', 'Say goodbye'), ('/fib/500', 'Fibonnaci sequence up to n=500')] %}
    {% for href, caption in navigation %}
    {% endfor %}
 -->

