
<ul id="navigation" style="display:inline;">
        <li><a href="/"">Home</a></li>
        <li><a href="/doge">"Department" of Government Efficiency, U.S. Budget Analysis</a></li>
        <li><a href="/noaa"">NOAA Oceanic and Atmospheric Analysis</a></li>
        <!-- <li><a href="/wikipedia">Wikipedia Analysis</a></li>
        <li><a href="/sefaria"">Sefaria Text Analysis</a></li> -->
        <li>>Wikipedia Analysis (TODO)</li>
        <li>Sefaria Text Analysis (TODO)/li> -->
         <li><a href="/fib"">Fibonnaci and other Sequential Analyses</a></li>
        <li><a href="/datetime"">Date and Time, Intercalary Analyses</a></li>
</ul>
  <!--   {% set navigation = [('/hello', 'Say hello'), ('/goodbye', 'Say goodbye'), ('/fib/500', 'Fibonnaci sequence up to n=500')] %}
    {% for href, caption in navigation %}
    {% endfor %}
 -->

